body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 65vw;
}

.result {
    padding-top: 20px;
}

.result h2 {
    font-size: 22px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.hidden {
    opacity: 0;
}

.result p {
    font-size: 80px;
    margin: 0;
}

.reader {
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    height: 160px;
    padding: 30px;
    width: 160px;
}

.reader.active {
    animation: reader-active 2s linear;
    background: linear-gradient(hsla(0, 0%, 29%, 1), hsla(0, 0%, 100%, 1), hsla(0, 0%, 29%, 1));
    background-size: 200% 200%;
}

@keyframes reader-active {
    0% {
        background-position: 0% 100%
    }
    100% {
        background-position: 0% 0%
    }
}
